
@page "/"


@inherits IndexModel

<Title>Blazor-Blogs</Title>
<Meta Property="og:title" Content="Blazor-Blogs" />
<RadzenDropDown AllowClear="true"
                AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                @bind-Value="BlogSearchState.CurrentCategoryID" Multiple="false"
                Placeholder="Search Category..."
                Data="@categories" TextProperty="Name" 
                ValueProperty="CategoryId"
                Style="width:200px;"
                Change="@(args => ChangeCategory(args, "DropDown"))" />
<br />
<br />
<!-- Show the blogs -->
@if (UserIsAnAdmin)
{
    <button type="button" class="btn btn-primary" @onclick="NewBlog">[New Blog]</button>
    <br />
    <br />
}
@if (blogs.TotalSize == 0)
{
    <h2>No items returned</h2>
}
else
{
    @foreach (var blog in blogs.Entities)
    {
        <a href="/ViewBlogPost/@blog.NormalizeTitle"><h2>@blog.CreatedDate.ToShortDateString() - @blog.Title</h2></a>
        <div class="form-group">
            @((MarkupString)blog.Summary)
        </div>
        <hr />
    }
}
<br />
<BlogAdministration @ref="BlogAdministrationControl" BlogUpdated="BlogUpdatedEvent" />
@if (ShowPreviousButton)
{
    <button class="btn btn-warning"
            @onclick="Previous">
        <b>&#x3C;</b>
    </button>
}
@if (ShowNextButton)
{
    <button class="btn btn-warning"
            @onclick="Next">
        <b>&#x3E;</b>
    </button>
}
<br />
<br />
